/*Eliminar margen y padding que ponen navegadores por defecto*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    /* Elimina desplazamiento horizontal (scroll) */
    overflow-x: hidden;
    width:100%;
    background-image: url(/src/img/background.jpg);
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
}

.login, .register {
  width: 21.875rem;
  margin: 0.625rem auto;
  text-align: center;
  color: white;
}

.login__logo, .register__logo {
  margin-top: 0.625rem;
  width: 9.375rem;
}

.login__title, .register__title {
  font-size: 1.875rem;
}

.login__form, .register__form {
  padding: 1.5625rem 0.9375rem 0;
}

.login__inputText, .login__inputPass, .register__inputText, .register__inputPass {
  font-size: 0.9375rem;
  width: 80%;
  padding: 0.625rem;
  border: none;
}

.login__container, .register__container {
  text-align: right;
}

.login__inputMail, .login__inputPassword, .login__inputName, .register__inputMail, .register__inputPassword, .register__inputName {
  margin-bottom: 0.9375rem;
  border: 1px solid #fff;
}

.icon {
  min-width: 3.125rem;
  text-align: center;
  vertical-align: middle;
  color: #fff;
}

.login__acceptService, .register__acceptService {
  font-size: 12px;
  text-align: center;
  margin-bottom: 0.9375rem;
}

.login__button, .register__button {
  /* display: block;
  margin: 0 auto; */
  border: none;
  width: 30%;
  color: black;
  font-size: 15px;
  background: #aaa;
  padding: 0.625rem 0.3125rem;
  border-radius: 0.3125rem;
  cursor: pointer;
  margin-left: 30%;
}

.login__button:hover, .btn__rrss:hover, .register__button:hover {
  background: #E58E00;
  transition: background .5s;
}

.login__divider, .register__divider {
  text-align: center;
  margin-top: 0.3125rem;
}

hr {
  display: inline-block;
  width: 45%;
}

.btn__rrss {
  padding: 0.3125rem 0.625rem;
  margin: 0.3125rem 5%;
  width: 20%;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;

}

.btn__icon {
  width: 3.125rem;
  height: 3.125rem;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
}

.login__forget {
  margin: 1.25rem auto 0.625rem;
  text-align: center;
}

.login__register {
  margin: 1.25rem auto;
}

.login__linkRecover {
  margin-left: 0.625rem;
  color: #aaa;
  font-size: 17px;
}

.login__linkRecover:hover {
  color: #E58E00;
}

.login__linkRegister {
  margin-left: 0.625rem;
  color: #E58E00;
  font-size: 17px;
}

.login__linkRegister:hover {
  color: #aaa;
}

.login__acceptService, .register__acceptService {
  margin-top: 0.625rem;
}

.accept {
  margin-bottom: 1.25rem;
}

#register {
  display: none;
}

@media(min-width:768px) {
  .login {
    margin: 3.125rem auto;
  }
}
